.vs*
*.pyc


# data files
*.nc
*.bz2
*.h5
*.png

# sensitive files
*earthdata_login.yaml

# factors pickled files
*_factors

# test files
*test*

# Editors
.vscode/

# Mac/OSX
.DS_Store

__pycache__/
*.py[cod]
*$py.class
